// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Ubuntu:wght@700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// mixin tombol
@mixin tombol {
    display: inline-block;
    background-color: $primaryColor;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border: 0;
    border-radius: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.3s color ease;

    &:hover {
        background-color: $tertiaryColor;
    }
}

// style
body {
    font-family: "Lato", sans-serif;
    //   font-family: "Ubuntu", sans-serif;
    background-image: url(../img/3.png);
    background-position: top right;
    background-repeat: no-repeat;
    //vmax/vmin digunakan untuk sebagian dari layar
    background-size: 60vmax;
}
// navigation
.custom-nav {
    .container-fluid {
        .navbar-brand {
            img {
                width: 25px;
                height: 25px;
                margin-top: -10px;
            }
            span {
                color: $primaryColor;
                font-weight: 600;
                font-size: 1.8rem;
                margin-left: 0.3em;
            }
        }

        #navbarNav {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: white;
                        font-weight: 400;
                        font-size: 1.3rem;
                        margin-left: 4em;
                        transition: 0.3s color ease;

                        &:hover {
                            // darken untuk ke gelap
                            color: darken($primaryColor, 50%);
                        }
                    }
                    .sign-up-btn {
                        @include tombol;
                        background-color: white;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        margin-top: -1em;
    }
}
